<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action bg-light text-dark" routerLink="account-requests">
        Account Opening Requests
      </a>
      <a class="list-group-item list-group-item-action bg-light text-dark" routerLink="account-list">
        Accounts
      </a>
    </div>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
  </div>
</div>
