.signup-form {
    width: 600px;
    margin:auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5b9bd5;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4a89c7;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #5b9bd5;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}