<div class="container">
    <div class="login-container">
      <h2>Forget Username</h2>
      <p *ngIf="isServerError" class="text-center text-danger py-2">{{errorMessage}}</p>
      <p *ngIf="isServerSuccess" class="text-center text-success py-2">{{successMessage}}</p>
      <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" id="password" formControlName="password">
          <div *ngIf="passwordResetForm.get('password')!.invalid && passwordResetForm.get('password')!.touched"
            class="error-message">
            Password is required.
          </div>
        </div>

        <div class="form-group">
            <label for="verifyPassword">Verify Password</label>
            <input type="password" id="verifyPassword" formControlName="verifyPassword">
            <div *ngIf="passwordResetForm.get('verifyPassword')!.invalid && passwordResetForm.get('verifyPassword')!.touched"
              class="error-message">
              Password verification is required.
            </div>
          </div>
  
        <button type="submit" [disabled]="passwordResetForm.invalid">Submit</button>
      </form>
      <div class="mt-2">
        <a routerLink="/forget-password">Forget Password? Click Here</a>
      </div>
    </div>
  
  </div>